<ion-view view-title="主页面" name="main-view" hide-back-button="true">
  <ion-nav-buttons side="left">
    <button class="button" ng-click="userAccount()">
      用户
    </button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <button class="button" ng-click="showMenu()">
      菜单
    </button>
  </ion-nav-buttons>
  <ion-content class="padding">
    <div class="item">            
      <div class="clearfix" style="max-width:474px; margin: 0 auto;">
        <ul id="image-gallery" class="gallery list-unstyled cS-hidden">
          <lightslide ng-repeat="photo in data.photos"/>
        </ul>
      </div>
    </div>
  </ion-content>
</ion-view>

