<ion-view view-title="设备配对" name="match-view">
  <ion-content class="padding">
    <div class="has-header padding">
      <div class="content has-header" ng-show="data.showInputText">
        <div class="list list-inset">
          <label class="item item-input"><span class="input-label">请输入设备ID</span>
            <input type="text" placeholder="{{data.machineID}}">
          </label>
        </div>
        <div class="padding">
          <button class="button button-block button-positive" ng-click="match()">配对</button>
        </div>
      </div>
      <div class="content has-header" ng-show="!data.showInputText">
        <span class="input-label">配对成功</span>
        <button class="button button-balanced" ng-click="goMainPage()" ng-hide="data.nextButton.hide">下一步</button>
        <button class="button button-balanced" ng-click="reMatch()" ng-hide="data.nextButton.hide">重新配对</button>      
      </div>
    </div>    
  </ion-content>
</ion-view>

